<div class="text-center">
  <h1 class="text-2xl">Card Preview</h1>
</div>

<div class="section mt-8">
  <div class="mb-3 pt-0 w-full flex">
    <div class="pl-5 w-1/4">
      <input type="text" matInput placeholder="Enter Name" [(ngModel)]="name" (ngModelChange)="valueChange(name)"
        class="px-3 py-3 bg-black placeholder-blueGray-300 text-blueGray-600 relative text-white text-sm border-0 shadow outline-none w-full" />
    </div>
    <div class="pl-5  w-1/4">
      <input type="text" matInput placeholder="Enter Desgination" [(ngModel)]="desgination" (ngModelChange)="valueChange(name)"
        class="px-3 py-3 bg-black placeholder-blueGray-300 text-blueGray-600 relative text-white text-sm border-0 shadow outline-none w-full" />
    </div>
    <div class="pl-5  w-1/4">
      <input type="text" matInput placeholder="Enter Company Name" [(ngModel)]="company" (ngModelChange)="valueChange(name)"
        class="px-3 py-3 bg-black placeholder-blueGray-300 text-blueGray-600 relative text-white text-sm border-0 shadow outline-none w-full" />
    </div>
    <div class="px-8  w-1/4">
      <input type="file" (change)="onImageUpload($event)"
        class="px-3 py-3 bg-black placeholder-blueGray-300 text-blueGray-600 relative text-white text-sm border-0 shadow outline-none w-full" />
    </div>
  </div>

  <div class="mt-8 flex justify-center">
    <canvas #canvas width="444" height="271" id='canvas'></canvas>
  </div>

  <div class="mt-8 flex justify-center">
    <canvas  width="444" height="271" id='image-canvas'></canvas>
  </div>
  
   <input aria-label={this.props.primaryButtonText === 'Copy' ? this.props.t('enterNameThe', { name: this.props.objectType }) : this.props.t('enterNewNameThe', { name: this.props.objectType })} />
</div>
